@import url(./css/Dashboard.css);
@import url(./css/Questionniare.css);
@import url(./css/Create.css);

:root {
  --primary-color : #000;
  --secondary-color :#0656ec;
  --back-color: #fff;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  margin: 0%;
  padding: 0%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.sidebar {
  width: 250px;
  background-color: var(--primary-color);
  color: var(--back-color);
  padding: 20px;
  height: 100%;
  display: flex;
  position: fixed;

}
.sidebar .nav{
  margin-top: 200px;
  margin-left: -150px;
  display: flex;
  flex-direction: column;
  
}
 .nav  .Button {
color: var(--secondary-color);
border :solid var(--secondary-color);
margin-top: 20px;
padding: 15px ;
border-radius: 50px;
width: 160px;
height:20px;
text-decoration: none;
text-align: center;
display: flex;
justify-content:center;
}

.Button:hover{
  border: solid #000000;
  color: #fff;
  background-color: #0656ec;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  margin-top: 150px;
  padding: 0;
}

.App {
  display: flex;
  height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
 
}



.icons{
  margin-top: 500px;
  padding: 10px;
  color: #0656ec;
}

.column {
   display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 300px;
  margin-top: 50px;
}
.cards{
  display: flex;
  flex-direction:row;
  margin-top: 100px;
  margin-left: -200px;
}
.cards h1{
  border: none;
}

.cards h3{
  color: #fff;
}


.btn {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  margin-left: 10px;
}

.label{
 display: flex;
 flex-direction: row;
 margin-left: 20px;
}

.radio-group {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 100px;
}